<tr class="text-center">
    <td>{{this.id}}</td>
    <td>{{this.nome}}</td>
    <td>{{this.idade}}</td>
    <td class="col-5">
        {{#if this.carros}}
        <select class="form-select me-2" onchange="redirecionar(this)">
            <option selected value="/pessoas">Lista de Veiculos</option>
            {{#each this.carros}}
            <option value="/carros/{{this.id}}"> {{this.modelo}} - {{this.marca}} {{#if
                this.fotoLink}} - Possui foto {{/if}} </option>
            {{/each}}
        </select>
        {{else}}
        <a href="/carros/novo" class="btn btn-primary">Cadastrar veiculo</a>
        {{/if}}
    </td>
    <td class="align-items-center d-flex justify-content-center">
        <div>
            <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                data-bs-target="#editModal{{this.id}}">Editar</button>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                data-bs-target="#deleteConfirmModal-{{this.id}}">
                Deletar
            </button>
        </div>
    </td>
</tr>

<!-- Modal de Confirmação -->
<div class="modal fade" id="deleteConfirmModal-{{this.id}}" tabindex="-1"
    aria-labelledby="deleteConfirmModalLabel-{{this.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel-{{this.id}}">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir esta pessoa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form action="/pessoas/delete/{{this.id}}" method="post">
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>