<div class="modal fade" id="editModal{{this.id}}" tabindex="-1" aria-labelledby="editModalLabel{{this.id}}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel{{this.id}}">Editar Pessoa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm{{this.id}}" action="/pessoas/update/{{this.id}}" method="post">
                    <div class="mb-3">
                        <label for="nome{{this.id}}" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nome{{this.id}}" name="nome" value="{{this.nome}}">
                    </div>
                    <div class="mb-3">
                        <label for="idade{{this.id}}" class="form-label">Idade</label>
                        <input type="number" class="form-control" id="idade{{this.id}}" name="idade"
                            value="{{this.idade}}">
                    </div>
                    {{#if this.carrosDisponiveis}}
                    <div class="mb-3 text-center">
                        <label for="carrosDisponiveis" class="form-label">
                            <h5 style="margin-bottom: 0;">Selecione Carros para adicionar</h5>
                            <span class="small text-muted">(Segure CTRL para marcar multiplos ou
                                desmarcar)</span>
                        </label>
                        <select class="form-select me-2" name="carrosDisponiveis" multiple
                            style="background-color: lightgreen;">
                            {{#each carrosDisponiveis}}
                            <option value="{{this.id}}"> {{this.modelo}} - {{this.marca}} {{#if
                                this.fotoLink}} - Possui foto {{/if}} </option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}
                    {{#if this.carros}}
                    <div class="mb-3 text-center">
                        <label for="carros" class="form-label">
                            <h5 style="margin-bottom: 0;">Selecione Carros para remover</h5>
                            <span class="small text-muted">(Segure CTRL para marcar multiplos ou
                                desmarcar)</span>
                        </label>
                        <select class="form-select me-2" name="carros" multiple style="background-color: lightcoral;">
                            {{#each carros}}
                            <option value="{{this.id}}"> {{this.modelo}} - {{this.marca}} {{#if
                                this.fotoLink}} - Possui foto {{/if}} </option>
                            {{/each}}
                        </select>
                    </div>
                    {{/if}}
                    <div class="d-flex justify-content-between modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
