<div class="container mt-5">
    {{#each carro}}
    <div class="card">
        <img src="/{{this.fotoLink}}" class="card-img-top" alt="Foto do carro">
        <div class="card-body">
            <h5 class="card-title">{{this.modelo}}</h5>
            <p class="card-text">Marca: {{this.marca}}</p>
            <p class="card-text">Ano: {{this.ano}}</p>
            <p class="card-text">Preço: {{this.preco}}</p>
            {{#if this.pessoa}}
            <p class="card-text">Dono: {{this.pessoa.nome}}</p>
            {{/if}}
            <div class="d-flex justify-content-center mb-3">
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#editCarModal-{{this.id}}">Editar</button>
                <a href="/pessoas" class="btn btn-secondary">Voltar</a>
            </div>
        </div>
    </div>
    {{> carrosModal}}
    {{/each}}
</div>